.playlist-settings-menu {
    position: fixed;
    width: 175px;
    background-color: var(--clr-bg-main);
    z-index: 2;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.settings-control {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    padding: 5px;
}

.settings-control:hover {
    background-color: var(--clr-bg-main-hvr);
}

.sidebar-playlist-control-icon {
    grid-column: 1;
    width: 20px;
    align-self: center;
}

.sidebar-playlist-trash-icon {
    stroke: var(--clr-txt);
    width: 24px;
    margin-left: 1px;
}

.sidebar-playlist-rename-icon {
    fill: var(--clr-txt);
    margin-left: 4px;
}

.settings-control-text {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.rename-button-confirm {
    margin-bottom: 10px;
    color: var(--clr-font-light);
    background-color: var(--clr-highlight);
}

.rename-button-confirm:hover {
    background-color: var(--clr-highlight-hvr);
}

.cancel-button {
    background-color: var(--clr-bg-dark);
}

.cancel-button:hover {
    background-color: var(--clr-bg-dark-hvr);
}

.delete-button-confirm {
    margin-bottom: 10px;
    background-color: var(--clr-warning);
    color: var(--clr-font-light);
}

.delete-button-confirm:hover {
    background-color: var(--clr-warning-hvr);
}