#songs-panel {
    /*
        parent grid
    */
    grid-column: 2 / -1;
    grid-row: 2 / 15;
    min-width: 750px;

    display: flex;
    flex-direction: column;
}

#songs-panel h1 {
    font-weight: 100;
    font-size: 20px;
    padding-left: 20px;
}

#song-list-categories-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#song-list-categories {
    /*
        internal grid
    */
    height: 26px;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    background-color: var(--clr-bg-dark);
    border-top: solid var(--clr-border-dark) 1px;
    border-bottom: solid var(--clr-border-dark) 1px;
}

.song-list-category {
    display: inline-block;
    line-height: 26px;
}

#song-list-category-title {
    grid-column: 1 / 10;
    padding-left: 20px;
    min-width: 220px;
}

#song-list-category-artist {
    grid-column: 10 / 16;
}

#song-list-category-duration {
    grid-column: 16 / 20;
}

#song-list-category-uploader {
    grid-column: 20 / -1;
    padding-right: 20px;
    text-align: right;
}

#song-list-category-filler {
    flex-grow: 1;
    height: 26px;
    background-color: var(--clr-bg-dark);
    border-top: solid var(--clr-border-dark) 1px;
    border-bottom: solid var(--clr-border-dark) 1px;
}

#song-list {
    flex-grow: 1;
    overflow-y: scroll;
}