.text-input-container {
    margin-top: 10px;
}

.input-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.text-input {
    background-color: var(--clr-bg-main);
    border: none;
    width: 100%;
    border-bottom: solid var(--clr-border) 1px;
    outline: none;
    font-family: var(--app-font);
    font-size: 16px;
    color: var(--clr-txt);
    height: 30px;
    padding: 3px;

}