.auth-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.auth-page-header {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 25px;
}

.auth-form-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    min-width: 450px;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
}

.auth-form-header {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 26px;
    width: 100%;
    text-align: center;
}

.auth-page-btn {
    margin-top: 10px;
    border: none;
    font-family: Figtree;
    height: 30px;
    font-size: 16px;
    background-color: var(--clr-bg-dark);
}

.auth-page-btn:hover {
    background-color: var(--clr-bg-dark-hvr);
}

.warning-msg {
    margin-top: 5px;
    padding-top: 5px;
    min-height: 20px;
    text-align: center;
    color: rgb(255, 0, 0);
}

.auth-redirect-text {
    margin-top: 15px;
    align-self: center;
}

.auth-redirect-link {
    align-self: center;
    color: var(--clr-highlight);
}