.auth-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.auth-page-header {
    font-weight: 1;
    font-size: 40px;
    margin-bottom: 25px;
    border-bottom: solid black 2px;
}

.auth-form-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    min-width: 450px;
    width: 450px;
}

.auth-form-header {
    font-weight: 1;
    font-size: 16px;
    width: 100%;
    border-bottom: solid black 1px;
    padding-left: 5px;
}

.auth-page-btn {
    margin: 10px 5px 0 5px;
    border: solid black 1px;
    border-radius: 0;
    font-family: Anaheim;
    height: 22px;
    font-size: 16px;
    background-color: rgb(240, 240, 240);
}

.auth-page-btn:hover {
    background-color: rgb(225, 225, 225);
}

.warning-msg {
    margin-top: 5px;
    padding-top: 5px;
    min-height: 20px;
    text-align: center;
    color: rgb(255, 0, 0);
}

.auth-redirect-text {
    margin-top: 5px;
    align-self: center;
}

.auth-redirect-link {
    align-self: center;
    color: rgb(28, 14, 235);
}