.modal-backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--clr-bg-main);
    width: 400px;
}

.modal h2 {
    font-size: 26px;
    margin-bottom: 30px;
}

.modal input {
    outline: none;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: solid var(--clr-border) 1px;
    margin-bottom: 15px;
}

.modal button {
    border: none;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}