.song {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    height: 26px;
    border-bottom: solid var(--clr-border-light) 1px;
    background-color: var(--clr-bg-light);
}

.song-field {
    display: inline-block;
    line-height: 26px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.song-title {
    grid-column: 1 / 10;
    padding-left: 20px;
    min-width: 220px;
}

.song-artist {
    grid-column: 10 / 16;
}

.song-duration {
    grid-column: 16 / 20;
}

.song-uploader {
    grid-column: 20 / -1;
    padding-right: 20px;
    text-align: right;
}