.song {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    height: var(--playlist-song-height);
    background-color: var(--clr-bg-main);
}

.song:hover {
    background-color: var(--clr-bg-main-hvr);
}

.song-field {
    display: inline-block;
    line-height: var(--playlist-song-height);
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.song-title {
    grid-column: 2 / 10;
    min-width: 220px;
}

.song-artist {
    grid-column: 10 / 16;
}

.song-duration {
    grid-column: 16 / 20;
}

.song-uploader {
    grid-column: 20 / 24;
    text-align: right;
}

.song:hover .song-play-icon {
    visibility: visible; 
}

.song-play-icon {
    visibility: hidden;
    width: 20px;
    grid-column: 1;
    margin-left: 5px;
    align-self: center;
    fill: var(--clr-icon);
}

.song-play-icon:hover {
    fill: var(--clr-icon-hvr);
}

.song:hover .song-dots-icon {
    visibility: visible;
}

.song-dots-icon {
    visibility: hidden;
    width: 20px;
    grid-column: -1;
    align-self: center;
    margin-right: 5px;
    stroke: var(--clr-icon);
}


.song-dots-icon:hover {
    stroke: var(--clr-icon-hvr);
}