.playlist {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--clr-bg-main);
    height: var(--playlist-song-height);
    padding-left: 15px;
}

.playlist:hover {
    background-color: var(--clr-bg-main-hvr);
}

.playlist-active {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--clr-highlight);
    height: var(--playlist-song-height);
    padding-left: 15px;
}

.playlist-active:hover {
    background-color: var(--clr-highlight-hvr);
}

.sidebar-playlist-name {
    display: inline-block;
    line-height: var(--playlist-song-height);
    grid-column: 1 / 6;
}

.sidebar-playlist-dots-icon {
    visibility: hidden;
    width: 20px;
    grid-column: -1;
    align-self: center;
    margin-right: 5px;
    stroke: var(--clr-icon);
}

.playlist:hover .sidebar-playlist-dots-icon {
    visibility: visible;
}



.sidebar-playlist-dots-icon:hover {
    stroke: var(--clr-icon-hvr);
}