#playlists-panel {
    grid-column: 1;
    grid-row: 3 / 15;
    min-width: 200px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

#playlists-controls-container {
    background-color: var(--clr-bg-main);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: solid var(--clr-border) 1px;
}

#playlists-controls-container h1 {
    font-size: 17px;
    margin-left: 5px;
}

#playlists-controls-plus-icon {
    margin-right: 12px;
    width: 30px;
    height: 30px;
    background-color: var(--clr-bg-main);
    padding: 5px;
}

#playlists-controls-plus-icon:hover {
    background-color: var(--clr-highlight-hvr);
}

#playlists-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--clr-bg-main);
    height: var(--playlist-song-height);
    padding-left: 10px;
}

.playlist:hover {
    background-color: var(--clr-bg-main-hvr);
}

.playlist:hover .sidebar-playlist-dots-icon {
    visibility: visible;
}

.sidebar-playlist-name {
    display: inline-block;
    line-height: var(--playlist-song-height);
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    grid-column: 1 / 6;
}

.sidebar-playlist-dots-icon {
    visibility: hidden;
    width: 20px;
    grid-column: -1;
    align-self: center;
    margin-right: 5px;
    stroke: var(--clr-icon);
}


.sidebar-playlist-dots-icon:hover {
    stroke: var(--clr-icon-hvr);
}