#playlists-panel {
    grid-column: 1;
    grid-row: 3 / 15;
    min-width: 200px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

#playlists-controls-container {
    background-color: var(--clr-bg-main);
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: solid var(--clr-border) 1px;
}

#playlists-controls-container h1 {
    font-size: 18px;
    margin-left: 5px;
}

#playlists-controls-plus-icon {
    margin-right: 3px;
    width: 25px;
    height: 25px;
    background-color: var(--clr-bg-main);
    fill: rgb(100, 100, 100);
}

#playlists-controls-plus-icon:hover {
    fill: rgb(70, 70, 70);
}

#playlists-container {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    background-color: var(--clr-bg-main);
    height: 26px;
}

.playlist:hover {
    background-color: var(--clr-bg-main-hvr);
}

.playlist:hover .sidebar-playlist-dots-icon {
    visibility: visible;
}

.sidebar-playlist-name {
    padding-left: 5px;
    display: inline-block;
    line-height: 26px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    grid-column: 1 / 6;
}

.sidebar-playlist-dots-icon {
    visibility: hidden;
    width: 20px;
    grid-column: -1;
    align-self: center;
    margin-right: 5px;
    stroke: rgb(100, 100, 100);
}


.sidebar-playlist-dots-icon:hover {
    stroke: rgb(70, 70, 70);
}

.sidebar-playlist-settings-menu {
    position: fixed;
    width: 175px;
    background-color: var(--clr-bg-main);
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.settings-control {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    height: 50px;
    padding: 5px;
}

.settings-control:hover {
    background-color: var(--clr-bg-main-hvr);
}

.sidebar-playlist-control-icon {
    grid-column: 1;
    width: 20px;
    align-self: center;
}

.sidebar-playlist-minus-icon {
    stroke: rgb(100, 100, 100);
}

.settings-control:hover .sidebar-playlist-minus-icon {
    stroke: rgb(70, 70, 70);
}


.sidebar-playlist-rename-icon {
    fill: rgb(100, 100, 100);
}

.settings-control:hover .sidebar-playlist-rename-icon {
    fill: rgb(70, 70, 70);
}

.settings-control-text {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
}
