.auth-input-container {
    margin-top: 10px;
}

.auth-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.auth-input {
    background-color: var(--clr-bg-main);
    border: none;
    width: 100%;
    border-bottom: solid var(--clr-border) 1px;
    outline: none;
    font-family: Figtree;
    font-size: 16px;
    height: 30px;
    padding: 3px;
}