* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bg-main: rgb(220, 220, 220);
    --clr-bg-light: rgb(230, 230, 230);
    --clr-bg-dark: rgb(200, 200, 200);
    --clr-border-dark: rgba(150, 150, 150, 0.5);
    --clr-border-light: rgba(180, 180, 180, 0.5);
}

body {
    font-family: Anaheim;
}

.picto-container {
    border: solid black;
    background-color: var(--clr-bg-main);
    border-width: 1px;
    border-radius: 2px;
}