* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Anaheim;
}

.picto-container {
    border: solid black;
    background-color: rgb(220, 220, 220);
    border-width: 1px;
    border-radius: 2px;
}