* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bg-main: rgb(40, 40, 40);
    --clr-bg-main-hvr: rgb(70, 70, 70);
    --clr-bg-dark: rgb(240, 240, 240);
    --clr-bg-dark-hvr: rgb(225, 225, 225);
    --clr-border: rgba(150, 150, 150, 0.5);
    --clr-highlight: rgb(90, 80, 240);
    --clr-highlight-hvr: rgb(80, 70, 230);
    --clr-warning: rgb(240, 70, 70);
    --clr-warning-hvr: rgb(225, 55, 55);
    --clr-icon: rgb(180, 180, 180);
    --clr-icon-hvr: rgb(255, 255, 255);
    --clr-txt: rgb(255, 255, 255);
    --clr-font-light: rgb(255, 255, 255);
    --playlist-song-height: 32px;
    --app-font: Figtree;
    background-color: rgb(15, 15, 15);
}

body {
    font-family: var(--app-font);
    color: var(--clr-txt);
}

.main-container {
    background-color: var(--clr-bg-main);
    border-width: 1px;
}

.shadow {
	box-shadow:
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	0px 2px 2px 0px hsla(0,0%,0%,0.14), 
	0px 3px 1px -2px hsla(0,0%,0%,0.12), 
	0px 1px 5px 0px hsla(0,0%,0%,0.2);
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.overflow-ellipsis {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.scroller {
    --scrollbar-color-thumb: rgba(100, 100, 100, 0.5);
    --scrollbar-color-track: transparent;
    --scrollbar-width: thin;
    --scrollbar-width-legacy: 10px;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
    .scroller {
        scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
        scrollbar-width: var(--scrollbar-width);
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    .scroller::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color-thumb);
    }
    .scroller::-webkit-scrollbar-track {
        background: var(--scrollbar-color-track);
    }
    .scroller::-webkit-scrollbar {
        max-width: var(--scrollbar-width-legacy);
        max-height: var(--scrollbar-width-legacy);
    }
}