@font-face {
    font-family: "Pixel";
    src: url("assets/fonts/Px437_IBM_Model3x_Alt2.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Pixel;
}

.picto-container {
    border: solid black;
    background-color: rgb(220, 220, 220);
    border-width: 1px;
    border-radius: 2px;
}