#homepage-wrapper {
    padding: 5px;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 5px;
}

#topbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1;
    min-height: 50px;
}

#topbar h1 {
    font-weight: 100;
    font-size: 26px;
}

#sidebar-top {
    grid-column: 1;
    grid-row: 2;
    min-width: 200px;
    min-height: 50px;
}

#bottom-bar {
    grid-column: 1 / -1;
    grid-row: 15 / -1;
    min-width: 400px;
    min-height: 100px;
}