#homepage-wrapper {
    padding: 10px;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 15px;
}

#topbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    grid-row: 1;
    min-height: 50px;
}

#topbar h1 {
    background-color: var(--clr-highlight);
    font-weight: bold;
    font-size: 30px;
    padding: 7.5px 30px 7.5px 30px;
}